.flex-vertical-stack {
  display: flex;
  flex-direction: column;
}

.flex-horizontal-stack {
  display: flex;
  flex-direction: row;
}

.flex-fill-space {
  flex-grow: 1;
}

.flex-vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
