<ng-container *ngIf="taskBoards.length > 0">
  <div class="taskBoardContainer flex-vertical-stack">
    <div class="taskBoard-header flex-horizontal-stack">
      <h1>{{ currentTaskBoardData.name }}</h1>
      <div class="flex-fill-space"></div>
      <div class="flex-vertical-stack flex-vertical-center">
        <button (click)="addColumn(currentActiveBoardIndex)">Add Task Column</button>
      </div>
    </div>

    <div class="taskBoard-columns flex-horizontal-stack flex-fill-space">
      <app-task-column *ngFor="let column of columns, let c = index" [index]="c" [columnName]="column.name">

        <div *ngFor="let task of column.tasks, let t = index" class="task-block flex-vertical-stack">
          <div class="task-block-header">{{task.name}} | <small>{{task.id}}</small></div>
          <div class="task-block-content flex-fill-space">{{task.description}}</div>
          <div class="task-block-actions flex-horizontal-stack">
            <button (click)="editTask()">Edit</button>
            <button (click)="deleteTask()">Delete</button>
          </div>
        </div>

      </app-task-column>

      <div class="noDataMessage flex-fill-space" *ngIf="columns.length === 0">
        <div class="content flex-vertical-center flex-vertical-stack">
          <h2>You have no task columns.</h2>
          <button (click)="addColumn()">Create one!</button>
        </div>
      </div>
    </div>

  </div>
</ng-container>

<div class="noDataMessage flex-fill-space" *ngIf="taskBoards.length === 0">
  <div class="content flex-vertical-center flex-vertical-stack">
    <h2 data-test="noTaskBoardsMessage">You have no boards.</h2>
    <button (click)="addTaskBoard()" data-test="createBoardButton">Create one!</button>
  </div>


</div>

