@import '../../../styles//theme/theme';
:host {
  border-left: 1px solid #000;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;

  .taskBoardContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .taskBoard-header {
      background-color: $secondary;
      padding: 0 16px;
      border-bottom: 1px solid #000;
    }

    .taskBoard-columns {
      background-color: $secondaryDark;
      padding: 20px;
    }
  }
}
