<app-toolbar data-test="toolbar"></app-toolbar>
<div class="flex-horizontal-stack flex-fill-space">
  <app-menu data-test="menu"></app-menu>
  <app-task-board data-test="taskBoard"></app-task-board>
</div>
<app-footer data-test="footer"></app-footer>

<!-- <ng-template #tpl>
  <div class="modal-card">
  <header class="modal-card-head">
   <h3>Modal Heading</h3>
  </header>
  <section class="modal-card-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit suscipit labore pariatur aliquid expedita odio harum. Saepe sit dolorem, accusamus quaerat expedita earum, eligendi itaque incidunt possimus eius quo obcaecati.
  </section>
  <footer class="modal-card-foot">
    Modal Footer
  </footer>
 </div>
</ng-template> -->
