@import '../../../styles/theme/theme';
:host {
  display: flex;
  padding: 10px 20px;
  flex-direction: column;

  .board-item {
    display: block;
    background-color: $secondary;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: $primary;
      color: #fff;
    }
  }
}
