<div data-test="modal-content" class="modal-content">
  <ng-container [ngSwitch]="contentType">

    <ng-container *ngSwitchCase="'string'">
      <div class="box">
        <div data-test="string-content" [innerHTML]="content"></div>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="'template'">
      <ng-container data-test="templateRef-content" *ngTemplateOutlet="content; context: context"></ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="'component'">
      <ng-container *ngComponentOutlet="content; injector: myInjector"></ng-container>
    </ng-container>

  </ng-container>
</div>

