html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

button {
  padding: 10px;
  margin: 10px;
  background-color: #f7f3f3;
  border: none;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
}
