html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Helvetica', 'sans-serif';
}

button {
  padding: 10px;
  margin: 10px;
  background-color: #f7f3f3;
  border: none;
  border-radius: 12px;
  outline: none;
  cursor: pointer;
  max-height: 35px;
}

// Forms
fieldset {
  padding: 0;
  border: 0;

  input,textarea  {
    width: 100%;
    border-radius: 0;
    padding: 10px;
    border: 1px solid #000;
    box-sizing: border-box;
    margin-bottom: 10px;
  }

  button {
    margin-left: 0;
    margin-right: 0;;;
  }
}
